<!DOCTYPE html>
<html>
<head>
	<title>Fyrsta Bloggid</title>
</head>
<body>
	<center><a href="/bloghub">Til bloggsafn</a></center>
	<hr>
	<h1>Lucifer Cancelled</h1>
	<p>The show Lucifer which follows the life of Lucifer Morningstar a.k.a The Devil after he's gotten bored with his duty in hell and starts helping the police solve murders
	has just been cancelled by fox among other shows after fox made a deal with nfl. Lucifer was one of their most watched and popular shows so it should come with no surprise that fans were not happy with this.
	Fans of the show have taken to twitter to express their sadness in hopes that another channel might pick it up. They started the #SaveLucifer which got to trending almost right away
	and got over a million tweets in under 20 hours and it was the most trending # in the world for along time. Some actors in the tv business have also tried to spread the word.
	The future of the hit show Lucifer is unknown as of now, but many fans hope that either, hulu, netflix or the cw pick the show up.</p>
	<br><br>Sida: Hrannar
</body>
</html>
