<!DOCTYPE html>
<html>
<head>
	<title>Fyrsta Bloggid</title>
</head>
<body>
	<center><a href="/bloghub">Til bloggsafn</a></center>
	<hr>
	<h1>Avengers Infinity War breaks records</h1>
	<p>The new movie from Marvel "Avengers Infinity Wars" which the marvel cinematic universe or the MCU has been building up to for 10 years just hit theaters and is already
	breaking records. The movie follows the Avengers as they must band together one more time to defeat the Mad Titan Thanos who wishes to kill half the universe with the six infinity stones
	that make up the universe, the power stone, space stone, mind stone, time stone, reality stone and the soul stone. Until now Thanos has only been seen briefly in the MCU as he plots
	in the background to get the stones. He was behind the attack on earth in the 2012 blockbuster movie Avengers, he was also behind the villain Ronan in Guardians of The Galaxy who was trying
	to get the reality stone. The movie shattered the box office opening record and is also the fastest film to earn 1 million dollars. The movie has gained great reviews from reviewers and
	as of now 84% from reviewers and 94% for audiences on rotten tomatoes.</p>

	<br><br>Sida: Hrannar
</body>
</html>
	